investigation.dtd

<!ELEMENT carte (point+)>
<!ELEMENT point (difficulte)>
<!ATTLIST point modeJeu CDATA "arcade">
<!ELEMENT difficulte(ville,coordonees)>
<!ATTLIST difficulte modeDifficulte CDATAT "facile">
<!ELEMENT ville (#PCDATA)>
<!ELEMENT coordonnees (#PCDATA)>
<!ELEMENT score (pseudo,scoreJoueur)>
<!ELEMENT pseudo (#PCDATA)>
<!ELEMENT scoreJoueur (#PCDATA)>
