investigation.dtd

<!ELEMENT carte (point+)>
<!ELEMENT point (question?,ville,coordonees+)>
<!ATTLIST point modeJeu CDATA "arcade">
<!ELEMENT question (#PCDATA)>
<!ELEMENT ville (#PCDATA)>
<!ELEMENT coordonnees (#PCDATA)>
<!ATTLIST coordonnees pos (x|y) #REQUIRED>
<!ELEMENT score (pseudo,scoreJoueur)>
<!ELEMENT pseudo (#PCDATA)>
<!ELEMENT scoreJoueur (#PCDATA)>
